:root {
    --main-bg-color: #1e6853;
    --secondary-color: white;
    --tertiary-color: rgb(32, 27, 36);
    --quaternary-color: rgb(0, 0, 0);
}

* {
    font-family: 'Fira Code', monospace;

}

body {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/typewriter.jpg");
    background-size: cover;
}

#buttonStart,
#buttonStop {
    background-color: rgba(255, 255, 255, 0);
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

#description {
    font-weight: normal;
}

footer {
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    bottom: 0;
}

footer p {
    line-height: 1.25em;
}

h3,
p {
    cursor: default;
}

h1,
h3,
p,
input {
    color: var(--secondary-color);
}

#mobile-input textarea {
    background-color: #00000090;
    color: var(--secondary-color);
}

#random-word {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--secondary-color);
}

.letter {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--secondary-color);
}

#button-start,
#button-stop {
    cursor: pointer;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--secondary-color);
    background-color: #00000000;
    color: white;
    padding: 10px;
    margin: 10px;
}

#button-start:hover,
#button-stop:hover {
    background-color: #00000050;
}

#button-start:active,
#button-stop:active {
    background-color: #00000090;
}

#score-container {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: #000000b0;
    margin: 20px auto auto auto;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#main-page {
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary-color);
}

.margin-title-content {
    flex-grow: 0.6;
}

.center {
    margin: 0 auto;
    text-align: center;
}

#year {
    color: var(--secondary-color);
}

#main-page,
#year {
    font-size: 1.25em;
}

#title-container {
    text-align: center;
}

#aesthetic-writer-cursor {
    color: white;
    font-size: 3rem;
    display: inline;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    display: inline-block;
    margin-left: auto;
}

/* Footer always at the bottom */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
footer {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 5vh auto;
}
/* --------------------------- */

@media (max-width: 760px) {
    #keyboard-img {
        width: 75vw;
    }

    h1 {
        font-size: 2.2em;
    }

    footer {
        font-size: 0.5em;
        margin-top: 25vh;
    }

    #score-container {
        font-size: 1.25em;
    }

    #button-start,
    #button-stop {
        font-size: 1.25em;
    }

    #description {
        font-size: 0.75em;
    }
}

@media (min-width: 760px) {
    #keyboard-img {
        width: 35vw;
    }

    h1 {
        font-size: 4em;
    }

    footer {
        position: absolute;
        font-size: 0.75em;
    }

    #score-container {
        font-size: 2em;
    }

    #button-start,
    #button-stop {
        font-size: 1.5em;
    }

    #description {
        font-size: 1em;
    }
}