body {
    background-color: #390c50;
    font-family: "Montserrat", sans-serif;
}

footer {
    text-align: center;
}

footer a {
    margin-top: 10px;
    font-weight: bold;
    color: #20c5ee;
    text-decoration: none;
    padding: 7px;
    border: solid 3px transparent;
}

footer a:hover {
    border: solid 3px #20c5ee;
    background-color: #1e062b;
}

footer p {
    color: antiquewhite;
}

h1 {
    color: #20c5ee;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10%;
}

hr {
    width: 40%;
    margin: 70px auto;
}


.project-link{
    text-decoration: none;
    color: antiquewhite;
    display: inline-block;
    padding: 50px;
    font-size: 2rem;
    border: solid 3px transparent;
}

.project-link:hover {
    border: solid 3px antiquewhite;
    background-color: #1e062b;
}

.project-links {
    text-align: center;
}