a {
  color: antiquewhite;
  text-decoration: underline dotted antiquewhite;
  text-underline-offset: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #390c50;
  font-family: Montserrat, sans-serif;
  color: antiquewhite;
  background-image: url("../../../images/pala.png");
}

@media (max-width: 600px) {
  body {
     background-size: 100px 100px; 
  }
}

@media (min-width: 600px) {
  body {
     background-size: 200px 200px; 
  }
}

footer {
  text-align: center;
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: antiquewhite;
  padding: 5px;
  border: solid 2px antiquewhite;
}

h1, h2, h3 {
  color: #20c5ee;
}

h5, h6 {
  font-weight: normal;
}

hr {
  border-style: none;
  border-top-style: dashed;
  border-color: gray;
  border-width: 5px;
  width: 5%;
}

img {
  width: 150px;
  height: 150px;
}

nav {
  text-align: center;
  margin-top: 30px;
}

nav a {
  margin: 10px 10px 0;
  display: inline-block;
}

.container {
  padding: 30px;
  text-align: center;
}

.container ul {
  list-style-type: none;
  margin-left: -40px;
}

#main-page {
  font-weight: bold;
  text-decoration: none;
}

#hobbies-list li {
  display: inline-block;
  margin: 20px;
}

#contact-me {
  text-decoration: none;
  color: antiquewhite;
  padding: 5px;
  border: solid 2px antiquewhite;
  display: inline;
}

#intro {
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin: 30px auto 0px auto;
}

#pala-photo {
  width: 160px;
  height: 160px;
  margin-bottom: 10px;
}

#go-to-top {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #390c50;
  color: antiquewhite;
  font-family: Montserrat, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  border-color: antiquewhite;
  position: fixed;
  right: 25px;
  bottom: 25px;
  cursor: pointer;
  border-style: solid;
}

#go-to-top:active {
  background-color: #300844;
}

#go-to-top img {
  width: 30px;
  height: 30px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

#go-back {
  border: none;
  font-style: italic;
  padding-top: 30px;
  color: #20c5ee;
  text-decoration: dashed underline;
  opacity: 70%;
}
