@media (max-width: 600px) {
  #my-name {
    font-size: 2em;
  }

  #pala-photo {
    width: 150px;
    height: 150px;
  }

  #my-description {
    font-size: 0.8em;
    font-weight: 300;
  }

  body {
    background-repeat: repeat;
    background-size: auto;
  }

  h1,
  h3 {
    font-size: 2.5em;
  }
}

@media (min-width: 600px) {
  #my-name {
    font-size: 3em;
  }

  #pala-photo {
    width: 200px;
    height: 200px;
  }

  #my-description {
    font-size: 1em;
    font-weight: normal;
  }

  body {
    background-repeat: no-repeat;
  }

  h1,
  h3 {
    font-size: 3em;
  }
}

.section-button {
  border-color: white;
  color: rgb(243, 152, 64);
  background-color: rgba(52, 27, 4, 0.455);
  text-decoration: none;
  padding: 5px;
  border: solid 2px;
  margin: 10px 10px 0;
  display: inline-block;
  cursor: pointer;
}

.section-button:hover {
  background-color: rgba(46, 23, 2, 0.627);
}

.section-button:active {
  background-color: rgba(46, 23, 2, 0.839);
}

#go-back {
  color: white;
  border: none;
  font-style: italic;
  text-decoration: dashed underline;
  display: block;
  padding: 5vh;
}

a,
body,
#contact-me,
#go-to-top {
  color: white;
}

#contact-me {
  border-color: white;
  text-decoration: none;
  padding: 5px;
  border: solid 2px;
  display: inline;
}

#contact-me:hover {
  border-color: #ee20ee;
  color: rgb(243, 152, 64);
  background-color: rgba(52, 27, 4, 0.455);
}

#contact-me:active {
  border-color: #d41ad4;
  color: rgb(215, 131, 51);
  background-color: rgba(46, 23, 2, 0.627);
}

#go-to-top {
  border-color: #ee20ee;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  font-size: 0.75em;
  font-weight: bold;
  position: fixed;
  right: 25px;
  bottom: 25px;
  cursor: pointer;
  border-style: solid;
}

#go-to-top img {
  width: 30px;
  height: 30px;
  filter: invert(72%) sepia(52%) saturate(1403%) hue-rotate(329deg) brightness(98%) contrast(94%);
}

h1,
h2,
h3 {
  color: #ee20ee;
}

h3 {
  margin-top: 10px;
}

h4 {
  color: rgb(243, 152, 64);
  font-size: 1.75em;
  font-weight: 500;
}

h5 {
  font-weight: normal;
  font-size: medium;
}

a {
  text-decoration: underline dotted white;
  text-underline-offset: 5px;
}

a:hover {
  color: rgb(243, 152, 64);
  text-decoration-color: rgb(243, 152, 64);
}

html {
  scroll-behavior: smooth;
}

body {
  background-position: 50% 0px;
  background-color: black;
  font-family: 'Roboto Slab', Verdana, serif;
  background-image: url("../images/background.jpg");
  margin-left: 0;
  margin-right: 0;
}

footer {
  text-align: center;
  margin-bottom: 10px;
}

hr {
  border-style: none;
}

img {
  width: 150px;
  height: 150px;
}

nav {
  text-align: center;
  margin-top: 30px;
}

.container {
  padding: 30px;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  margin-top: 25px;
  margin-bottom: 25px;
  backdrop-filter: blur(6px);
}

.container ul {
  list-style-type: none;
  margin-left: -40px;
}

#container-intro {
  width: 60vw;
  margin: auto;
}

#main-page,
#year {
  font-weight: 200;
  text-decoration: none;
}

#hobbies-list li {
  display: inline-block;
  margin: 20px;
}

#intro {
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin: 0px auto 0px auto;
}

#skills li:hover,
#hobbies li:hover {
  transform: scale(1.25);
  cursor: default;
}