@media (max-width: 760px) {
    #keyboard-img {
        width: 75vw;
    }
}

@media (min-width: 760px) {
    #keyboard-img {
        width: 35vw;
    }
}


:root {
    --main-bg-color: #3b393b;
    --secondary-color: white;
    --tertiary-color: rgb(32, 27, 36);
    --quaternary-color: rgb(0, 0, 0);
}

body, input {
    background-color: var(--main-bg-color);
}

footer p {
    line-height: 0.75em;
}

h1 {
    font-family: Consolas;
    font-size: 4em;
}

h3, p {
    font-family: "Open Sans", sans-serif;
    cursor: default;
}

h1, h3, p, input {
    color: var(--secondary-color);
}

#mobileInput textarea {
    background-color: var(--main-bg-color);
    color: var(--secondary-color);
}

#time-gap {
    width: 15vw;
    height: 10vh;
    border-style: dashed;
    border-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 3em;
}

#random-letter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6em;
    font-weight: bolder;
    color: var(--secondary-color);
}

#button-start, #button-stop {
    cursor: pointer;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--secondary-color);
    background-color: var(--main-bg-color);
    color: white;
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
    padding: 10px;
    margin: 10px;
}

#button-start:hover, #button-stop:hover {
    background-color: var(--tertiary-color);
}

#button-start:active, #button-stop:active {
    background-color: var(--quaternary-color);
}

#score-text, #score {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: var(--secondary-color);
}

#main-page {
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary-color);
}

.center {
    margin: 0 auto; 
    text-align: center;
}

#year {
    color: var(--secondary-color);
    font-family: "Open Sans", sans-serif;
}

#main-page, #year {
    font-size: 1.25em;
}

#title-container {
    text-align: center;
}

#aesthetic-writer-cursor {
    color: white;
    font-size: 3rem;
    display: inline;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    display: inline-block;
    margin-left: auto;
}