.modal-header,
.modal-body,
.modal-footer {
    background-color: #390c50 !important;
}

#open-project-button,
#visit-repo-button {
    font-weight: bold;
}

#open-project-button {
    border-color: white;
}

#open-project-button a,
#visit-repo-button a {
    text-decoration: none;
}

#open-project-button :hover,
#visit-repo-button :hover {
    color: #390c50 !important;
}

.modal-header :hover,
.modal-body :hover,
.modal-footer :hover {
    background-color: white !important;
}

#modal-close-button {
    background-color: white !important;
}

.modal-body {
    text-align: center;
}

/* Modal speed */
.modal.fade .modal-dialog
{
    -webkit-transition: -webkit-transform 0.15s !important;
    -moz-transition:    -moz-transform    0.15s !important;
    -ms-transition:     -ms-transform     0.15s !important;
    -o-transition:      -o-transform      0.15s !important;
    transition:         transform         0.15s !important;
}