body {
    background-color: #390c50 !important;
    font-family: "Montserrat", sans-serif !important;
    background-image: url('../images/pala.png');
}

@media (max-width: 600px) {
    body {
        background-size: 100px 100px;
    }
}

@media (min-width: 600px) {
    body {
        background-size: 200px 200px;
    }
}

* {
    color: white !important;
}


#main-title {
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

hr {
    width: 40%;
    margin: 30px auto;
    border-color: transparent !important;
}

.project-links {
    text-align: center;
}

.project-link {
    display: inline-block;
    padding: 50px;
    font-size: 2rem;
    background-color: #1e062b28;
    border: #1e062b28 solid;
    border-radius: 10px;
    text-shadow: 2px 2px 2px #1e062b;
    margin: 5px;
}

.project-link a {
    text-decoration: none;
}

.project-link:hover {
    border: solid 3px white;
    background-color: #1e062b;
}

.project-link-notes {
    margin-top: 10px;
    font-size: 0.5em;
    font-style: italic;
}

footer {
    text-align: center;
    margin-bottom: 30px;
}

footer a {
    margin-top: 10px;
    font-weight: bold;
    text-decoration: none;
    padding: 7px;
    border: solid 3px transparent;
}

footer a:hover {
    border: solid 3px white;
    background-color: #1e062b;
}

#contact-me-button {
    border: 3px white solid;
    margin-top: 20px;
    display: inline-block;
}