body {
    background-color: #390c50 !important;
    font-family: "Montserrat", sans-serif !important;
    background-image: url('../images/pala.png');
}

body.modal-open {
    overflow-y: scroll !important;
    padding-right: 0px !important;
}

#main-title {
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 10vh;
    color: white;
}

hr {
    width: 40%;
    margin: 30px auto;
    border-color: transparent !important;
}

.project-links {
    text-align: center;
}

#personal-page {
    background-color: rgba(143, 83, 14, 0.4);
    font-style: oblique;
}

#personal-page:hover {
    background-color: rgba(143, 83, 14, 0.7);
}

#personal-page:active {
    background-color: rgba(143, 83, 14, 1);
}

.project-link {
    display: inline-block;
    padding: 50px;
    font-size: 1.5rem;
    background-color: rgba(30, 6, 43, 0.16);
    border: rgba(30, 6, 43, 0.16) solid;
    border-radius: 10px;
    margin: 2vh;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

.project-link:hover {
    background-color: rgba(30, 6, 43, 0.5);
    cursor: pointer;
    color: white;
}

.project-link:active:not(#personal-page) {
    background-color: rgba(30, 6, 43, 1);
}

.project-link-notes {
    margin-top: 10px;
    font-size: 0.5em;
    font-style: italic;
}

/* Footer always at the bottom */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
footer {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 5vh auto;
}
/* --------------------------- */

footer {
    color: #bda9c6 !important;
}

#contact-me-button {
    border: 3px rgba(30, 6, 43, 0.16) solid !important;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
    background-color: rgba(131, 85, 21, 0.4);
    margin-top: 10px;
    font-weight: bold;
    text-decoration: none;
    padding: 7px;
    border: solid 3px transparent;
    color: white;
}

#contact-me-button:hover {
    background-color: rgba(143, 83, 14, 0.7);
}

#contact-me-button:active {
    background-color: rgba(143, 83, 14, 1);
}

#year {
    font-style: italic;
    font-weight: lighter;
    font-size: small;
}

@media (max-width: 600px) {
    body {
        background-size: 100px 100px;
    }
    .project-link {
        width: 70vw;
        height: 40vh;
        padding-top: 15vh !important;
    }
}

@media (min-width: 600px) {
    body {
        background-size: 200px 200px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .project-link {
        width: 80vw;
        height: 25vh;
        padding-top: 10vh !important;
    }
}

@media (min-width: 900px) {
    .project-link {
        width: 40vw;
        height: 25vh;
        padding-top: 10vh !important;
    }
}