body {
    background-color: #390c50;
    font-family: "Montserrat", sans-serif;
    background-image: url('../images/pala.png');
}

@media (max-width: 600px) {
    body {
       background-size: 100px 100px; 
    }
}

@media (min-width: 600px) {
    body {
       background-size: 200px 200px; 
    }
}

footer {
    text-align: center;
    margin-bottom: 30px;
}

footer a {
    margin-top: 10px;
    font-weight: bold;
    color: antiquewhite;
    text-decoration: none;
    padding: 7px;
    border: solid 3px transparent;
}

footer a:hover {
    border: solid 3px antiquewhite;
    background-color: #1e062b;
}

footer p {
    color: antiquewhite;
}

#title-container {
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10%;
    display: inline-block;
    margin-left: auto;
}

#aesthetic-writer-cursor {
    color: white;
    font-size: 3rem;
    display: inline;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

hr {
    width: 40%;
    margin: 70px auto;
}


.project-link {
    text-decoration: none;
    color: antiquewhite;
    display: inline-block;
    padding: 50px;
    font-size: 2rem;
    background-color: #1e062b28;
    border: #1e062b28 solid;
    border-radius: 10px;
    text-shadow: 2px 2px 2px #1e062b;
    margin: 5px;
}

.project-link:hover {
    border: solid 3px antiquewhite;
    background-color: #1e062b;
}

.project-links {
    text-align: center;
}

#year {
    color: antiquewhite;
}

#not-ready-yet-message {
    color: antiquewhite;
    margin-top: 10px;
    font-size: 0.5em;
    font-style: italic;
}